.header {
    padding-bottom: 5px;
}
.logo {
    display: block;
    margin: auto;
}
.search-form {
    text-align: center;
}
.search-box {
    margin-bottom: 16px;
}
.submit-btns button {
    background: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;

}